# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.dist/
.build/

# Envs
.env
.venv/
venv/
.venv/**/*
venv/**/*
ENV/
env/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Runs & artifacts
runs/
*.zip
data/samples/*.mp4
# Track selected showcase GIFs in assets; still use LFS for large binaries
assets/*.gif
!assets/pl-ani.gif
!assets/detect-ani.gif
.gitattributes

# Node (if we add a web client later)
node_modules/
