streamlit==1.36.0
fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.8.2
prometheus-client==0.20.0
numpy==2.0.1
opencv-python==4.10.0.84
matplotlib==3.9.0
weasyprint==62.3
scikit-learn==1.5.1
torchmetrics==1.4.0.post0
requests==2.32.3
websockets==12.0
websocket-client==1.8.0
pyyaml==6.0.2
streamlit-image-comparison==0.0.4
